# Archivos de configuración Android Studio
*.iml
.idea/
.gradle/
local.properties

# Build
/build/
app/build/

# Archivos del sistema operativo
.DS_Store

# Otros
captures/
.externalNativeBuild/
.cxx/
app/src/main/java/com/parana/dobleyfalta/retrofit/ApiConstants.kt
